#cookie  {
    width: 300px;
    height: 300px;
    transition: transform 0.1s ease;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%) scale(1);
}

#cookie.clicked {
    transform: translate(-50%, -50%) scale(0.9);
}

#text {
    font-family: sans-serif;
    position: absolute;
    top: calc(50% - 200px);
    left: 30%;
    transform: translate(-50%, -50%);
}

#clickpower {
    font-family: sans-serif;
    position: absolute;
    top: calc(50% - 150px);
    left: 30%;
    transform: translate(-50%, -50%);
}

#upgrades {
    position: absolute;
    left: calc(70% + 10px);
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    max-height: 80%;
    overflow-y: auto;
    padding-right: 8px;
}

#upgrades * {
    font-size: inherit;
}

#game {
    visibility: hidden;

}
