#cookie  {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text {
    font-family: sans-serif;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clickpower {
    font-family: sans-serif;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#upgrades {
    position: absolute;
    left: calc(50% + 300px);
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#upgrades * {
    font-size: inherit;
    font-family: sans-serif;
}