#cookie  {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#text {
    font-family: sans-serif;
    position: absolute;
    top: calc(50% - 200px);
    left: 30%;
    transform: translate(-50%, -50%);
}

#clickpower {
    font-family: sans-serif;
    position: absolute;
    top: calc(50% - 150px);
    left: 30%;
    transform: translate(-50%, -50%);
}

#upgrades {
    position: absolute;
    left: calc(70% + 10px);
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#upgrades * {
    font-size: inherit;
}