#cookie  {
    width: 300px;
    height: 300px;
    transition: transform 0.1s ease;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%) scale(1);
}

#cookie.clicked {
    transform: translate(-50%, -50%) scale(0.9);
}

#text {
    font-family: sans-serif;
    position: absolute;
    top: calc(50% - 200px);
    left: 30%;
    transform: translate(-50%, -50%);
}

#clickpower {
    font-family: sans-serif;
    position: absolute;
    top: calc(50% - 150px);
    left: 30%;
    transform: translate(-50%, -50%);
}

#buttons {
    position: absolute;
    left: calc(55% + 100px);
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    max-height: 80%;
    overflow-y: auto;
    padding-right: 8px;
}

#buttons * {
    font-size: inherit;
    
}

#game {
    visibility: hidden;
}

.particle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('cookie.png');
  background-size: cover;
  pointer-events: none;
  opacity: 1;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  z-index: 999;
}